@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/LAKESHOR-webfont.woff') format('woff'), url('fonts/LAKESHOR-webfont.tff') format('truetype'), url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airstreamregular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Airstream-webfont.woff') format('woff'), url('fonts/Airstream-webfont.tff') format('truetype'), url('fonts/Airstream-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background: rgb(149, 194, 215);
}

a {
  text-decoration: none;
}

.main-header {
  flex: 0 1 auto;
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  font-size: 37px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.detail-image-container {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-frame {
  position: relative;
  text-align: center;

  transition: transform 333ms cubic-bezier(1, .06, .28, 1);
}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.detail-image {
  width: 90%
}

/*
1px 阴影向右偏移1px
2px 阴影向下偏移2px
如果是负数就是向左、向上偏移

9px 是模糊半径。
*/

.detail-image-title {
  position: absolute;
  bottom: -16px;
  left: 4px;
  font-family: airstreamregular;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-size: 40px;
}

.hidden-detail .detail-image-container {
  display: none;
}

.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
}

.hidden-detail .thumbnail-item {
  max-width: 80%
}

.thumbnail-list {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px 0;
  white-space: nowrap;
  /* 声明禁止换行 */
  overflow-x: auto;
  order: 2;
  /* 调整源顺序，先加载大图。 */
}

/* 隐藏滚动条 */

.thumbnail-list::-webkit-scrollbar {
  display: none;
}

.thumbnail-item {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  /* 提供回退机制，有些浏览器不支持rgbda。 */
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-item:hover {
  transform: scale(1.2);
  transition: transform 133ms ease-in-out;
}

.thumbnail-image {
  display: block;
  width: 100%
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  font-size: 18px
}

@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }
  .thumbnail-list {
    flex-direction: column;
    margin-left: 20px;
    /* 默认顺序，即还原源顺序 */
    order: 0;
    padding: 0 35px;
  }
  .thumbnail-item {
    max-width: 260px;
  }
  .thumbnail-item+.thumbnail-item {
    margin-top: 20px;
  }
}
